.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.row {
  background-color: #7A539F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem 3rem;
  color: white;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .row {
    width: 100%;
    flex-direction: column;
  }
}
