.row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding: 5rem 5rem;
    color: black;
    min-height: 100vh;
  }

.grid {
display: flex;
flex-direction: column;
}